html
    head
        title Hello Hubo
        link(href='/css/style.css', rel='stylesheet')
    body
        #main
            p Hello from Hubo
            #publisher
            #subscriber
            input(type='range', id='LSP', min='-200', max='0', value='0', class='joint')
            input(type='range', id='RSP', min='-200', max='0', value='0', class='joint')
            input(type='range', id='LEB', min='-100', max='0', value='0', class='joint')
            input(type='range', id='REB', min='-100', max='0', value='0', class='joint')
            input(type='submit',value='Take pic', id='email')
            button#connect Connect to HuboVision
        script(src='https://cdn.firebase.com/v0/firebase.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
        script(src='/js/control.js')
        script(src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js')
        script(src='/js/opentok.js')
